#navBrand {
    padding-left: 5%;
}

#navBar {
    background-color: #00695c;
}

#devIntro {
    padding-top: 1%;
    color: #ffffff;
}

#devName {
    padding-top: 1%;
    color: #ffffff;
}

#devDesc {
    color: #ffffff;
    font-size: 2em;
}

#aboutMebg {
    height: 100vh;
}

#summaryHead {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    font-weight: 900;
}

#summaryContent {
    color: #ffffff;
    font-family: 'Droid Serif', Serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

#footer {
    background-color: #00695c;
}

.parallax-container {
    height: 500px;
}

@media only screen and (max-width: 500px) {
    .col.s8.m4.card {
        width: 95vw;
    }
    .btn-width {
        padding-left: 2px;
        width: 48px;
        height: 48px;
        color: #ffffff;
    }
    #home {
        height: 100vh;
        padding-top: 15%;
        padding-bottom: 10%;
        text-align: center;
        background: url('../images/homeBgPhone.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    #aboutMe {
        width: 100%;
        height: 100%;
        background: url('../images/aboutMeBgPhone.jpg') no-repeat center center fixed;
        background-size: cover;
        opacity: 0.8;
    }
}

@media only screen and (min-width: 501px) {
    .btn-width {
        width: 60px;
        color: #ffffff;
    }
    #home {
        height: 100vh;
        padding-top: 15%;
        padding-bottom: 10%;
        text-align: center;
        background: url('../images/homeBg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    #aboutMe {
        width: 100%;
        height: 100%;
        background: url('../images/aboutMeBg.jpg') no-repeat center center fixed;
        background-size: cover;
        opacity: 0.8;
    }
}